.place__title {
  display: block;
  font-style: normal;
  font-size: 72px;
  line-height: 76px;
  font-weight: 900;
  padding: 0;
  margin: 0;
  /*min-height: 152px;*/
}

@media screen and (max-width: 970px) {
  .place__title {
    font-size: 42px;
    line-height: 46px;
    white-space: pre-line;
    /*min-height: 92px;*/
  }
}

@media screen and (max-width: 750px) {
  .place__title {
    font-size: 32px;
    line-height: 35px;
    white-space: normal;
    min-height: 35px;
    width: 288px;
    justify-self: center;
  }
}
