.header__link {
  font-style: normal;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  text-decoration: none;
  color: #fff;
  text-align: center;

  display: inline-block;
  width: 30px;
  height: 28px;
}

@media screen and (max-width: 768px){
  .header__link {
  }
}

@media screen and (max-width: 425px){
  .header__link {
    font-size: 18px;
    line-height: 20px;
    width: 22px;
    height: 20px;
  }
}
