.footer__link {
  color: #fff;
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.12;
}

.footer__item {
  /*display: block;*/
  /*margin: 0;*/
  /*padding: 0;*/
  /*min-height: 100%;*/

}


@media screen and (max-width: 735px) {
  .footer__link {
    font-size: 24px;
    line-height: 1;
  }
}
