.footer__links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  width: 465px;
  justify-content: space-between;
}

@media screen and (max-width: 735px) {
  .footer__links {
    width: 100%;
    min-height: 248px;
    flex-direction: column;
  }
}
