.header__langs {
  width: 78px;
  padding: 18px 0 6px;
  box-sizing: border-box;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 425px){
  .header__langs {
    width: 62px;
    padding: 14px 0 8px;
  }
}
