.place {
  width: 984px;
  margin: 0 0 80px;
  padding: 0;
  display: grid;
  grid-template-columns: 460px 484px;
  gap: 48px 40px;
}

.place:last-of-type {
  margin-bottom: 0;
}

@media screen and (max-width: 1024px) {
  .place {
    width: 928px;
    display: grid;
    grid-template-columns: 440px 456px;
    gap: 48px 32px;
  }
}

@media screen and (max-width: 970px) {
  .place {
    width: 720px;
    margin: 0 0 73px;
    display: grid;
    grid-template-columns: 340px 352px;
    gap: 48px 28px;
  }
}

@media screen and (max-width: 750px) {
  .place {
    width: 320px;
    margin: 0 0 50px;
    display: grid;
    grid-template-columns: 320px;
    gap: 32px;
  }
}
